[flake8]
ignore = 
    I100,
    I101,
    W503,
    R504,
    CCE001 # should be after, баг с порядком свойств (getter / setter)
docstring_style=sphinx
per-file-ignores =
    src/utils/telegram.py: T201
max-line-length = 80