<p>yeelight works!</p>

<app-sig-bool #power [label]="'Включен'" [signal]="data.power"></app-sig-bool>

<p-dialog [(visible)]="power.popupVisible" header="Title">
  <p-button
    [icon]="'fa-solid fa-lightbulb'"
    [label]="'Включить'"
    (onClick)="setPower(true)"
  ></p-button>
  <p-button
    [icon]="'fa-solid fa-power-off'"
    [label]="'Отключить'"
    (onClick)="setPower(false)"
  ></p-button>
</p-dialog>

<app-sig-float
  [label]="'Яркость'"
  [signal]="data.bright"
  (popup)="brightPopup.open()"
></app-sig-float>

<app-oa-analog
  #brightPopup
  [signal]="data.bright"
  (newValue)="setBright($event)"
></app-oa-analog>
